@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-image: linear-gradient(to right bottom, #00f260, #0575e6);
   background-attachment: fixed;
   font-family: sans-serif;
   color: #354358;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-thumb {
   background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

.box_shadow_custom {
   box-shadow: 2px 3px 8px 0px #353131;
}

@layer utilities {
   .scrollbar-hide {
      ::-webkit-scrollbar {
         width: 0 !important;
      }
      overflow: -moz-scrollbars-none;
   }
}
